
<mat-card>
  <mat-card-title>Add New Movie Review</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submitNewMovie()">
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Movie Title" formControlName="title">
        </mat-form-field>
      </p>

      <mat-form-field appearance="fill">
        <mat-label>Date Watched</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dayWatched">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <br>

        <label>
          <input type="file"  (change)="detectFiles($event)" accept=".png,.jpg" formControlName="uploadPoster">
        </label>


      <button class="btn btn-primary" [disabled]="!selectedFiles" (click)="uploadSingle()">Upload</button>

      <br>

      <div *ngIf="currentUpload">
        <div class="progress">
          <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': currentUpload?.progress + '%'}"></div>
        </div>
        Progress: {{currentUpload?.name}} | {{currentUpload?.progress}}% Complete

      </div>
      <p *ngIf="error" class="error">
        {{ error }}
      </p>

      <div class="button">
        <button type="submit" mat-button>Add Movie</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>
