<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Tuffin Puffin Buffs</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<div class="container-fluid">
  <div class="opacityLayer">

    <div class="callOut">
      <img src="../assets/tuff_logo.png"/>
    </div>

    <div class="mainDiv">
      <div class="col-md-5">
        <app-review *ngFor="let rev of reviews" [review]="rev"></app-review>
      </div>
    </div>

  </div>  <!-- end opacity layer -->
</div> <!-- end container fluid -->


<router-outlet></router-outlet>
