
.mat-toolbar{
  height: 7vh;
}

div {
  overflow: inherit;
}

.mat-sidenav-container{
  min-height: 93vh !important;
}

.myApp {
  background: url('../assets/darkened.gif') repeat;

  height: 100%;
}

a{
  text-decoration: none;
  font-size: 110%;
  white-space: normal;
}

button{
  font-size: 110%;
  min-width: min-content;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.callOut {
  display: flex;
  justify-content: center;
}

.callOut img {
  max-height: 500px;
}
.mainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
