.mat-card {
  margin-top: 50px;
}

.example-card {
  max-width: 500px;
}

:host ::ng-deep .pat-header-image {
  background-image: url('../../assets/pat_icon.jpg');
  background-size: cover;
}

.kier-header-image {
  background-image: url('../../assets/kier_icon.jpg');
  background-size: cover;
}

.dietz-header-image {
  background-image: url('../../assets/dietz_icon.jpg');
  background-size: cover;
}

.nick-header-image {
  background-image: url('../../assets/nick_icon.jpg');
  background-size: cover;
}

