<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar [ngClass]="review.selectedBy + '-header-image'"></div>
    <mat-card-title>{{review.movie.title}}</mat-card-title>
    <mat-card-subtitle>{{review.key}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{review.img}}" alt="Photo of a movie poster">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
    <h2>Scores:</h2>
    <app-score [scores]="review.scores"></app-score>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button [routerLink]="['/edit', review.key]">Edit</button>
  </mat-card-actions>
</mat-card>
