
<div *ngIf="isLoaded && reviewToEdit; else stillLoading">
  <mat-card>
    <mat-card-title>Edit Review: {{reviewToEdit.movie.title}}</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="editMovie()">
        <p>
          <mat-form-field>
            <input type="text" matInput placeholder="Movie Title"  value="{{reviewToEdit.movie.title}}" [(ngModel)]="reviewToEdit.movie.title"
                   name="movieTitle" required>
          </mat-form-field>
        </p>

        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <textarea matInput placeholder="Description"  value="{{reviewToEdit.movie.description}}"
                 [(ngModel)]="reviewToEdit.movie.description"     name="movieDescription" >
          </textarea>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Date Watched</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="reviewToEdit.dateReviewed"  name="dateReviewed">
          <mat-datepicker-toggle  matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker [(ngModel)]="reviewToEdit.dateReviewed" ngDefaultControl  name="dateReviewed"></mat-datepicker>
        </mat-form-field>



        <br>

        <img mat-card-image src="{{reviewToEdit.movie.img}}" alt="Photo of a movie poster">
        <br>

        <label>
          <input type="file"  (change)="detectFiles($event)" accept=".png,.jpg" >
        </label>

        <button class="btn btn-primary" [disabled]="!selectedFiles" (click)="uploadSingle()">Upload</button>

        <br>

        <div *ngIf="currentUpload">
          <div class="progress">
            <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': currentUpload?.progress + '%'}"></div>
          </div>
          Progress: {{currentUpload?.name}} | {{currentUpload?.progress}}% Complete

        </div>
        <div *ngIf="errors.length > 0">
          <p *ngFor="let err of errors" class="error"> {{err}}</p>

        </div>


        <hr>

        <div *ngIf="yourScore">
        <h3>Your Review</h3>
        <app-score [scores]="yourScores"> </app-score>
        </div>

        <hr>


        <div class="button">
          <button type="submit" mat-button (click)="editMovie()">Submit Changes</button>
        </div>

        <div class="button">
          <button type="submit" mat-button (click)="deletePopup()">Delete Review</button>
        </div>



      </form>
    </mat-card-content>
  </mat-card>
</div>
<ng-template #stillLoading><p>Loading...</p></ng-template>

